@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    background-color:hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 5rem;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 44rem; /* maybe i should use another  */
    padding: 2rem;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.top-image {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2rem;
}

h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1rem;
}

.description {
    margin: 1.5rem 0 1.5rem 0 ;
}

.preparation-time {
    padding: 1rem;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
    margin-bottom: 1.5rem;
}

.preparation-time h2 {
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.approximately-time {
    list-style: inside;
}

.approximately-time li {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.approximately-time li::marker {
    color: hsl(332, 51%, 32%);
}

.ingredients {
    list-style: inside;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}

.ingredients li {
    margin-bottom: 0.5rem;
}

.ingredients li::marker {
    color: hsl(14, 45%, 36%);
}

hr {
    border: none;
    height: 1px;
    background: hsl(30, 18%, 87%);
    margin: 2rem 0 2rem 0;
}

.instructions li {
    list-style-position: inside;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

table caption {
    margin: 0;
    padding: 0;
    text-align: left;
}

table {
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    min-width: 375px;
    border-collapse: collapse;
}

tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td {
    padding: 0.6rem 0.6rem 0.6rem 1.5rem;
}

td:nth-child(2) {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}
